#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

.card {
  width: 90px;
  height: 135px;
  vertical-align: top;
  transition: filter 300ms;
  border-radius: 4px;
}

.card:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}